<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>editting</title>
</head>
<body>
    <div class="container-fluid m-5">
        <div class="row m-2">
            <div class="col-8">
                <h1>edit Recipe !</h1>
            </div>
            <div class="col-4">
                <a href="/dashboard" class="btn btn-warning btn-lg">back to recipe</a>
                <a href="/logout" class="btn btn-warning btn-lg">Log Out</a>
            </div>
        </div>
        <div>
            <form action="/recipes/{{recipe.id}}/update" method="post" class="row p-3">
                <div class="col-6">
                    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
                    {% if messages %}                            <!-- check if there are any messages -->
                        {% for message in messages %}            <!-- loop through the messages -->
                            <p style="color: red;">{{message}}</p>                   <!-- display each message in a paragraph tag -->
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                    <div class="form-group">
                        <label for="">name</label>
                        <input type="text" name="name" value="{{recipe.name}}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Description</label>
                        <textarea name="description" id="" cols="90" rows="8"  class="form-control">{{recipe.description}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="">Instructions</label>
                        <textarea name="instruction" id="" cols="90" rows="8"  class="form-control">{{recipe.instruction}}</textarea>
                    </div>
                    
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="">Date cooked/made :</label>
                        <input type="date" name="date" value="{{recipe.date}}"class="form-control">
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <label for="">Under 30 minutes? </label>
                        <br>
                        <input type="radio" name="under"  value="1"
                        {% if recipe.under == 1 %}
                        checked
                        {% endif %}>
                        <label for="">Yes</label>
                        <input type="radio" name="under"  value="0"
                        {% if recipe.under == 0 %}
                        checked
                        {% endif %}>
                        <label for="">No</label>
                    </div>
                    <input type="hidden" value="{{recipe.id}}" name="id">
                    <br>
                    <button class=" btn btn-success ">Update recipe</button>
                </div>
                
            </form> 
        </div>
    </div>
</body>
</html>